<!-- <p>signin works!</p>
<div class="container">
    <form action="" [formGroup]="signin">
        <div>
            <label for="">Uesrname:</label>
            <input type="text" formControlName="Username" required>
            <div *ngIf="SubmitForm && name?.invalid  && name?.['errors']?.['required']">Uesrname is required</div>
        </div>
        <div>
            <label for="">Email:</label>
            <input type="text" formControlName="Email" required>
            <div *ngIf="SubmitForm && email?.invalid  && email?.['errors']?.['required']">Email is required</div>
            <div *ngIf="SubmitForm && email?.invalid  && email?.['errors']?.['pattern']">Enter Valid Email</div>
        </div>
        <div>
            <label for="">Password:</label>
            <input type="text" formControlName="Password" required>
            <div *ngIf="password?.['invalid'] && (password?.['dirty'] || password?.['touched'])"> -->

<!-- <div *ngIf=" SubmitForm && password?.['errors']?.['required']">Password is required</div>
                <div *ngIf=" SubmitForm && password?.['errors']?.['maxlength']">5 charecters</div>
                
            </div> -->
<!-- </div> -->
<!-- <div class="Form_buttons"> -->
<!-- <button type="button" class="Login_form" (click)="LoginForm()">login</button> -->
<!-- <button class="Sign_form" (click)="SigninForm()">Signin</button> -->
<!-- </div> -->
<!-- </form> -->

<!-- </div> -->

<div class="Container">
  <div class="wrapper">
    <h2>Registration</h2>
    <form action="#" [formGroup]="signin">
      <div class="input-box">
        <input type="text" placeholder="Enter your name" formControlName="Username"
          [style.color]="!signin.value.Username ?'black':null" required>
        <div class="error_message" *ngIf="SubmitForm && name?.['errors']?.['required']">Uesrname is required</div>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Enter your email" formControlName="Email" required>
        <div class="error_message" *ngIf="SubmitForm  && email?.['errors']?.['required']">Email is required</div>
        <div class="error_message" *ngIf="SubmitForm && email?.invalid  && email?.['errors']?.['pattern']">Enter Valid
          Email</div>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Create password" formControlName="Password" required>
        <div class="error_message" *ngIf=" SubmitForm && password?.['errors']?.['required']">Password is required</div>
      </div>
      <!-- Avatar -->
      <div class="avatar-edit">
        <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput (change)="uploadFile($event)"
          (click)="fileInput.click()" />
        <i (click)="fileInput.click()" class="fa-solid fa-camera"></i>
      </div>
      <!-- <div class="policy">
          <input type="checkbox">
          <h3>I accept all terms & condition</h3>
        </div> -->
      <div class="input-box button">
        <input type="Submit" (click)="SigninForm()" value="Register Now">
      </div>
      <div class="text">
        <h3>Already have an account? <a routerLink="/login">Login now</a></h3>
      </div>
    </form>
  </div>
</div>