<p>house-details works!</p>
<div>
    <button (click)="FavouriteData()">Favourite</button>
 </div>
<div class="House-Details_Page">
    <div *ngFor="let a of DetailsArray">
        <div class="Location_Near"  *ngIf="productID != a.id">
            <p>{{a.near}}</p>
            <p>Near Location</p>
        </div>

        <div class="Rent_Deposit">
            <div>
                <span>&#8377;{{a.Rent}}</span>
                <p>Rent</p>
            </div>
            <div>
                <span>&#8377;{{a.Deposit}}</span>
                <p>Deposite</p>
            </div>
            <div>
                <span>{{a.square}} sqft</span>
                <p>Builtup</p>
            </div>
        </div>

        <div class="House_Information">
            <div class="House_Image">
                <img [src]="a.images" alt="">
            </div>
            <div class="details">
                <div class="furniture-data">
                    <div class="Furniture_Details">
                        <span><i class="fa-solid fa-loveseat"></i>{{a.Furniture}}</span>
                    </div>
                    <div class="Furniture_Details">
                        <span><i class="fa-solid fa-house"></i> &nbsp;{{a.title}}</span>
                        <p>{{a.apartment}}</p>
                    </div>
                    <div class="Furniture_Details">
                        <span><i class="fa-solid fa-users"></i> &nbsp;Family</span>
                        <p>Prefered Tenants</p>
                    </div>
                    <div class="Furniture_Details">
                        <span><i class="fa-solid fa-key"></i> &nbsp;Ready to Move</span>
                        <p>Avalible From</p>
                    </div>
                </div>
                <div class="view-furniture">
                    <button class="view-button">Get Owner details</button>
                    <button class="view-icon"><i (click)="GetSelectFave()" [ngClass]="selectFav ? 'favcolor':'Dummycolor'" class="fa-solid fa-heart"></i></button>
                    <button class="view-icon"><i class="fa-brands fa-font-awesome"></i></button>

                </div>

            </div>

        </div>
    </div>

</div>
<div class="col-sm-3">
    <div class="form-group">
        <label for="exampleSelect1">ProgramCategory </label>
        <div class="row">
            <div class="col-sm-9">
                <select class="form-control"(change)="PriceList()" [(ngModel)]="amount">
                    <option value="Select Price" disabled selected>Select Price</option>
                    <option value="3000-6000">3000-6000</option>
                    <option value="6000-10000">6000-10000</option>
                    <option value="10000-20000">10000-20000</option>
                    <option value="20000-30000">20000-30000</option>
                    <option value="30000-40000">30000-40000</option> 
                    <option value="40000-50000">40000-50000</option>
                    <option value="50000-100000">50000-100000</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="House-Details_Page"  *ngFor="let a of array let i= index;">
    <div *ngIf="productID != a.id">
        <div class="Location_Near">
            <p>{{a.near}}</p>
            <p>Near Location</p>
        </div>

        <div class="Rent_Deposit">
            <div>
                <span>&#8377;{{a.Rent}}</span>
                <p>Rent</p>
            </div>
            <div>
                <span>&#8377;{{a.Deposit}}</span>
                <p>Deposite</p>
            </div>
            <div>
                <span>{{a.square}} sqft</span>
                <p>Builtup</p>
            </div>
        </div>

        <div class="House_Information">
            <div class="House_Image">
                <img [src]="a.images" alt="">
            </div>
            <div class="details">
                <div class="furniture-data">
                    <div class="Furniture_Details">
                        <span><i class="fa-solid fa-loveseat"></i>{{a.Furniture}}</span>
                    </div>
                    <div class="Furniture_Details">
                        <span><i class="fa-solid fa-house"></i> &nbsp;{{a.title}}</span>
                        <p>{{a.apartment}}</p>
                    </div>
                    <div class="Furniture_Details">
                        <span><i class="fa-solid fa-users"></i> &nbsp;Family</span>
                        <p>Prefered Tenants</p>
                    </div>
                    <div class="Furniture_Details">
                        <span><i class="fa-solid fa-key"></i> &nbsp;Ready to Move</span>
                        <p>Avalible From</p>
                    </div>
                </div>
                <div class="view-furniture">
                    <button class="view-button"data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="GetOwnerDetails()">Get Owner details</button>
                    {{selectedFavData | json}}11
                    <button class="view-icon"><i (click)="TotalDataFav(i)" [ngClass]="a.selectedFavData ? 'favcolor':'Dummycolor'" class="fa-solid fa-heart"></i></button>
                    <button class="view-icon"><i class="fa-brands fa-font-awesome"></i></button>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" >
    Launch demo modal
  </button> -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Phone:</label>
                  <input type="number" (keypress)="onlyNumbers()" [(ngModel)]="searchValue" class="form-control" id="recipient-name">
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Message:</label>
                  <textarea class="form-control" id="message-text"></textarea>
                </div>
             
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>