<!-- <div> -->
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/"><strong>{{title}}</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="product" [routerLinkActive]="['active']">Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact" routerLinkActive="active">Contact us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="signin">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="" (click)="logout()">Log out</a>
          </li>
        </ul>
      </div>
    </nav> -->
<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark demo" *ngIf="navdata">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Logo</a> -->
<!-- <img src="assets/House-images/House-logoo.png" alt="no"> -->
<!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="House" [routerLinkActive]="['active']">Houses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="contact" routerLinkActive="active">contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="signin">Register</a>
            </li>  
            <li class="nav-item">
              <a class="nav-link" routerLink="login">login</a>
            </li>  
            
            <li class="nav-item">
              <a class="nav-link" (click)=" logout()">logout</a>
            </li> 
            <li class="container">
                <xng-breadcrumb [autoGenerate]="true">
                  <div *xngBreadcrumbItem="let breadcrumb of breadcrumb">
                    <p [routerLink]="breadcrumb.url">{{breadcrumb}}</p>
                  </div>     
                </xng-breadcrumb>
            </li>
          </ul>
        </div>
      </div>
      <h1 style="color: red;">{{storeUser}}</h1>
    </nav>
  
    <router-outlet></router-outlet>
   
  </div> -->


<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light nav-iteam" >
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="javascript:void(0);">
        <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="15" alt="MDB Logo"
          loading="lazy" />
      </a>
      <!-- Left links -->
      <div class="collapse navbar-collapse Navbar-items"  id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="House" [routerLinkActive]="['active']">Houses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact" routerLinkActive="active">contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="signin">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login">login</a>
          </li>

          <li class="container">
            <xng-breadcrumb [autoGenerate]="true">
              <div *xngBreadcrumbItem="let breadcrumb of breadcrumb">
                <p [routerLink]="breadcrumb.url">{{breadcrumb}}</p>
              </div>
            </xng-breadcrumb>
          </li>
        </ul>
      </div>
    </div>
<!-- {{storeUser | json}}123$$ -->
    <div class="d-flex align-items-center" *ngIf="Avatar">
      <a class="text-reset me-3" href="javascript:void(0);">
        <i (click)="goToFavPage()" class="fa-regular fa-heart">
        </i>
        <span class="badge rounded-pill badge-notification bg-danger" *ngIf="favvvT.length">{{favvvT.length}}</span>
      </a>

      <!-- Notifications -->

      <div class="dropdown">
        <a class="text-reset me-3 dropdown-toggle hidden-arrow" href="javascript:void(0);" id="navbarDropdownMenuLink"
          role="button" data-mdb-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-bell"></i>
          <span class="badge rounded-pill badge-notification bg-danger">1</span>
        </a>
      </div>

      <!-- Avatar -->

      <div class="dropdown">
        <div class="dropdown">
          <img src={{storeUser.file}} class="rounded-circle" height="25"
            alt="Man" loading="lazy" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false" />
          <ul class="dropdown-menu user" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="javascript:void(0);"><i class="fa-solid fa-user"></i>&nbsp;
                {{storeUser.Username}}</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);">Another action</a></li>
            <li class="logOut"><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#dummy"
                href="javascript:void(0);"><i class="fa-solid fa-power-off"></i>Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<!-- LogOut PopUp 00000-->

<!-- <button class="view-button"data-bs-toggle="modal" data-bs-target="#exampleModal1">Get Owner details</button> -->
<div class="modal fade" id="dummy" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header header">
        <div>
          <h4>Logout <i class="fa fa-lock"></i></h4>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-body"><i class="fa fa-question-circle"></i> Are you sure you want to log-off?</div>
        <div class="modal-footer"><a href="javascript:;" class="btn btn-primary btn-block" data-bs-dismiss="modal"
            aria-label="Close" (click)=" logout()">Logout</a></div>
      </div>
    </div>
  </div>
</div>